body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 80px;
  border-width: 3px;
  border-color: #FFB730; }

a {
  color: inherit;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    color: #917c57; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.bg-about {
  background-image: linear-gradient(to right bottom, #917c57, #6d5d41) !important; }

.bg-dark {
  background-color: #212529 !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 8rem 0; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #212529; }

.text-primary {
  color: #917C57 !important; }

.btn {
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 1rem 2rem; }

.btn-primary {
  background-color: #917C57;
  border-color: #917C57; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #816e4d !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(123, 89, 81, 0.5) !important; }

.navbar {
  box-shadow: none; }

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #917c57; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #917C57; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #917C57 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #fff; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #fff; }
      #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #917C57; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #917c57; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #212529; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #917C57; } }

.hero {
  height: 100vh;
  min-height: 650px;
  padding-top: 0;
  padding-bottom: 0; }
  .hero hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  .hero h1 {
    font-size: 2rem; }
  .hero p {
    font-size: 1.2rem; }
  @media (min-width: 768px) {
    .hero p {
      font-size: 1.5rem; } }
  @media (min-width: 992px) {
    .hero h1 {
      font-size: 3rem; } }
  @media (min-width: 1200px) {
    .hero h1 {
      font-size: 4rem; } }
  .hero__pricing {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.25)), url("../images/pricing-header.jpg");
    background-position: left center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  @media (max-width: 575px) {
    .hero__pricing {
      background-position: center;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/pricing-header.jpg"); } }
  .hero__home {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.25)), url("../images/City_Nails_2.jpg");
    background-position: left center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.service-box {
  max-width: 400px; }

.priceList:first-of-type {
  padding-top: 5rem; }

.priceList:last-of-type {
  margin-bottom: 5rem; }

.table th, .table td {
  padding: 8px; }

.table tr td {
  font-size: 1rem;
  text-transform: capitalize; }

.table-title {
  margin-bottom: 0px;
  border: none; }
  .table-title tr td {
    border: none;
    color: #917C57;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 2rem; }

.table td + td {
  text-align: right; }

.price-blank {
  background-color: #e5ebed; }

.right {
  text-align: right; }

.bg-offer {
  margin-top: 5rem;
  padding-bottom: calc(10rem - 56px);
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2)), url("../images/offer-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media (max-width: 575px) {
  .priceList {
    padding: 1rem 1rem; }
  .service-time {
    display: none; }
  .table td + td {
    font-size: 0.9rem; }
  .pricingHeader {
    background-position: right; } }

.services-gallery-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto; }
  .services-gallery-box .services-gallery-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(145, 124, 87, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    .services-gallery-box .services-gallery-box-caption .services-gallery-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center; }
      .services-gallery-box .services-gallery-box-caption .services-gallery-box-caption-content .service-name,
      .services-gallery-box .services-gallery-box-caption .services-gallery-box-caption-content .service-description {
        padding: 0 2rem;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
      .services-gallery-box .services-gallery-box-caption .services-gallery-box-caption-content .service-name {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase; }
      .services-gallery-box .services-gallery-box-caption .services-gallery-box-caption-content .service-description {
        font-size: 1rem; }
  .services-gallery-box:hover .services-gallery-box-caption {
    opacity: 1; }
  .services-gallery-box:focus {
    outline: none; }
  @media (min-width: 768px) {
    .services-gallery-box .services-gallery-box-caption .services-gallery-box-caption-content .service-name {
      font-size: 1.5rem; }
    .services-gallery-box .services-gallery-box-caption .services-gallery-box-caption-content .service-description {
      font-size: 1.2rem; } }

.btn-unique {
  background-color: #917C57 !important; }
  .btn-unique:hover {
    background-color: #FFB730 !important; }
  .btn-unique:active, .btn-unique:focus {
    background-color: #00E676 !important; }

input:focus, textarea:focus {
  border-bottom: 1px solid #FFB730 !important;
  box-shadow: 0 1px 0 0 #FFB730 !important; }

input:active, textarea:active {
  color: #917C57 !important; }

input:focus:invalid, textarea:focus:invalid {
  border-bottom: 2px solid var(--danger) !important; }

input[type=text] {
  color: inherit !important; }

label.active {
  color: #917C57 !important; }

section#contact {
  padding-bottom: 3rem; }

footer {
  padding-bottom: 4rem;
  padding-top: 2rem;
  color: inherit; }

i {
  padding: 0 .5rem;
  color: #917C57; }

.fa-facebook-official {
  margin-top: 10px; }

a .fa-facebook-official {
  color: #3B5998; }

a .fa-instagram {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

#form-message {
  color: inherit;
  font-size: inherit; }

.copyright {
  padding-top: 0.8rem;
  font-size: 0.7rem;
  color: #a7a7a7; }
  .copyright span {
    opacity: 0.5; }

#map {
  height: 55vh;
  width: 100vw; }

.map-title {
  color: #917C57; }

.info-window {
  font-family: inherit; }

.info-content {
  color: inherit; }
