<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PGSZ54V');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Professional Nail Care for Ladies &amp; Gentlemen">
  <meta name="keywords" content="Nails, Beauty, Salon, Manicure, Pedicure">
  <meta name="author" content="CN Nails Ltd">
  <meta name="twitter:title" content="Professional Nail Care for Ladies &amp; Gentlemen">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/icon.png">
  <title>CN Nails & Beauty</title>
  <link href="/scripts/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/scripts/vendor/md/mdb.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    
    <div class="container">

      <a class="navbar-brand js-scroll-trigger" href="#page-top">CN Nails & Beauty</a>
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Bookings</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/pricing.html">Pricing</a>
            </li>
        </ul>
      </div>
      
    </div>
  </nav>

  <header class="hero hero__home text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Welcome To CN Nails & Beauty</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
           <p class="mb-5">Professional Nail Care for Ladies & Gentlemen</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-about" id="about">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">12 Cobb Street, E1 7LB</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">CN Nails & Beauty is located just a 3 minutes walk from Liverpool Street Station. 
            We offer nail and beauty treatments and we only use top products like Shellac, OPI, DND.
            </p>
 
          </div>
       </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
 
       <div class="row">
          <div class="col-lg-12 text-center">
          <h2 class="section-heading">Our Services</h2>
          <hr class="my-4">
          </div>
       </div>
 
    </div>
 
    <div class="container">
       <div class="row">
          <div class="col-lg-4 text-center">
          <div class="service-box mt-5 mx-auto">
             <i class="fa fa-4x fa-star-o text-primary mb-3 sr-icons"></i>
             <h3 class="mb-3">Modern Salon</h3>
             <p class="text-muted mb-0">CN Nails & Beauty is a perfect place for both men and women to get ready for a night out in the City.</p>
          </div>
          </div>
 
          <div class="col-lg-4 text-center">
          <div class="service-box mt-5 mx-auto">
             <i class="fa fa-4x fa-certificate text-primary mb-3 sr-icons"></i>
             <h3 class="mb-3">Treatments</h3>
             <p class="text-muted mb-0">All our treatments are offered by well trained and certified staff.</p>
          </div>
          </div>
 
          <div class="col-lg-4 text-center">
          <div class="service-box mt-5 mx-auto">
             <i class="fa fa-4x fa-calendar text-primary mb-3 sr-icons"></i>
             <h3 class="mb-3">Events & Celebrations</h3>
             <p class="text-muted mb-0">Our team of beauty specialists offer private event bookings at the Boutique and office visits across London.</p>
          </div>
          </div>
       </div>
    </div>
  </section>

  <section class="p-0" id="services-gallery">
    <div class="container-fluid p-0">
       <div class="row no-gutters"> 
    
      <div class="col-lg-4 col-sm-6">
        <div class="services-gallery-box">
        <img class="img-fluid" src="images/servicesPedicure.jpg" alt="">
          <div class="services-gallery-box-caption">
            <div class="services-gallery-box-caption-content">
              <div class="service-name">
              Manicure
              </div>
              <div class="service-description">
              Nails and cuticles are expertly shaped and then buffed for a clean finish.
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-lg-4 col-sm-6">
        <div class="services-gallery-box">
          <img class="img-fluid" src="images/services-pedicure.jpg" alt="">
          <div class="services-gallery-box-caption">
            <div class="services-gallery-box-caption-content">
              <div class="service-name">
              Spa Pedicure      
              </div>
              <div class="service-description">
              Treatment that removes dead skin, softens hard skin and shapes and treats your toenails.
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-lg-4 col-sm-6">
        <div class="services-gallery-box">
        <img class="img-fluid" src="images/services-shellac.jpg" alt="">
        <div class="services-gallery-box-caption">
          <div class="services-gallery-box-caption-content">
            <div class="service-name">
            Shellac
            </div>
            <div class="service-description">
            Nails are treated to chip-resistanct Shellac polish designed to last up to two weeks or more.
            </div>
          </div>
        </div>
        </div>
      </div>
    
      <div class="col-lg-4 col-sm-6">
        <div class="services-gallery-box">
        <img class="img-fluid" src="images/services-threading.jpg" alt="">
          <div class="services-gallery-box-caption">
            <div class="services-gallery-box-caption-content">
              <div class="service-name">
              Threading
              </div>
              <div class="service-description">
              Perfectly scuplt and shape your eyebrows, leaving a clean finish.
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <div class="services-gallery-box">
          <img class="img-fluid" src="images/services-waxing.jpg" alt="">
          <div class="services-gallery-box-caption">
            <div class="services-gallery-box-caption-content">
              <div class="service-name">
              Facial Waxing     
              </div>
              <div class="service-description">
              Guaranteed much longer-lasting smooth skin, leaving your face smooth and free of hair for weeks.
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-6">
        <div class="services-gallery-box">
        <img class="img-fluid" src="images/services-extensions.jpg" alt="">
        <div class="services-gallery-box-caption">
          <div class="services-gallery-box-caption-content">
            <div class="service-name">
            Latest 3D Eyelash Extension
            </div>
            <div class="service-description">
            Gives a full, high impact glamorous look with maximum natural looking volume.
            </div>
          </div>
        </div>
        </div>
      </div>
    
       </div> <!-- ROW ENDS -->
    </div>
  </section>

  <section id="contact">
    <div class="container">
      
      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Make a Booking</h2>
          <hr class="my-4">
          <p class="mb-5">If you'd like to make an appointment, send us a message, telephone or feel free to come in and talk to us in person.</p>
          </div>
       </div>
    
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
    
          <form id="contact-form">
    
            <div class="md-form">
              <input type="text" id="name-field" name="name" class="form-control">
              <label for="name">Your name</label>
            </div>
    
            <div class="md-form">
              <input type="tel" id="phone-field" name="phone" class="form-control">
              <label for="phone">Your telephone number</label>
            </div>
    
            <div class="md-form">
              <input type="email" id="email-field" name="email" class="form-control">
              <label for="email">Your email</label>
            </div>
    
            <div class="md-form">
              <textarea id="message-field" class="md-textarea" name="message" style="height: 100px"></textarea>
              <label for="message">Your message</label>
            </div>
    
            <div class="text-center">
              <p id="form-message"></p>
              <button class="btn btn-unique" type="submit" >Send &rarr;</button>
            </div>
          </form>
    
        </div>
    
      </div>
       
    
    
    
    </div>
  </section>
    

  <footer id="footer">
    <div class="container">
      <div class="row">
  
        <div class="col-12 text-center contactList">
  
          <p class="footerClock"><span><i class="fa fa-clock-o fa-lg sr-contact" aria-hidden="true"></i></span><strong>Opening Hours:</strong> Monday - Saturday: 10.00am - 7.00pm</p>
  
          <p class="footerPhone"><span><i class="fa fa-phone fa-lg sr-contact" aria-hidden="true"></i></span><strong>Phone:</strong> <a href="tel:02072477999">020 7247 7999</a></p>
  
          <p class="footerEmail"><span><i class="fa fa-envelope-o fa-lg sr-contact" aria-hidden="true"></i></span><strong>Email:</strong> <a href="mailto:infocn-nails.co.uk">info@cn-nails.co.uk</a></p>
  
          <p class="footerAddress"><i class="fa fa-map-marker fa-lg sr-contact" aria-hidden="true"></i><strong>Address:</strong> CN Nails & Beauty Ltd, 12 Cobb Street, E1 7LB, London</p>
  
          <!-- <a href="https://www.facebook.com/nailbar56sydenham/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a> -->
          <a href="http://instagram.com/cnnailsandbeauty" target="_blank">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </footer>


  <section id="map">
    <div class="container">
       <div class="col-12">
          <div id="map">
 
          </div>git 
       </div>
    </div>
  </section>

  <div class="container copyright">
    <div class="row">
      <div class="col-12">
        <p class="text-center p-sm-1">CN Nails &amp; Beauty Ltd. is a company registered in England & Wales under number 13588064</p>
      </div>
       <div class="col-12">
          <p class="text-center"><span class="copyright__span">Website created by: <a href="mailto:nm.duong@outlook.com">Nam Nguyen</a></span></p>
       </div>
    </div>
  </div>
  
  <script src="/scripts/vendor/jquery/jquery.min.js"></script>
  <script src="/scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/scripts/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/scripts/mdb.js"></script>
  <script src="/scripts/index.js" type="module"></script>
  <script>
    function initMap() {
      const location = new google.maps.LatLng(51.5166398, -0.0777387)
      const mapCanvas = document.getElementById('map')
      const mapOptions = { center: location, zoom: 18, panControl: false, scrollwheel: false }
      const map = new google.maps.Map(mapCanvas, mapOptions)
      const marker = new google.maps.Marker({ position: location, map: map,icon: '../images/marker.png' })
      
      const contentString = `
        <div class="info-window">
        <h3 class="map-title text-center">CN Nails & Beauty</h3>
            <div class="info-content">
              <p class="text-center">12 Cobb Street E1, London</p>
              <p class="text-center">Tel: 0203 759 9613 </p>
            </div>
        </div>
      `
      const infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 400 });
      marker.addListener('click', () => infowindow.open(map, marker))
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYbxFAdAmAOwtjSOm9weZssIe0ctciCN0&callback=initMap" async defer></script>
</body>


</head>