<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PGSZ54V');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Professional Nail Care for Ladies &amp; Gentlemen">
  <meta name="keywords" content="Nails, Beauty, Salon, Manicure, Pedicure">
  <meta name="author" content="CN Nails Ltd">
  <meta name="twitter:title" content="Professional Nail Care for Ladies &amp; Gentlemen">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/icon.png">
  <title>CN Nails & Beauty</title>
  <link href="/scripts/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/scripts/vendor/md/mdb.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    
  <div class="container">

    <a class="navbar-brand js-scroll-trigger" href="#page-top">CN Nails & Beauty</a>
    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#contact">Bookings</a>
      </li>
      </ul>
    </div>
    
  </div>
  </nav>
  
  <header class="hero hero__pricing text-center text-white d-flex">
    <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
        <strong>CN Nails & Beauty Price List</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="mb-5">Out of hour appointments available on request</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#pricing">View Price List</a>
      </div>
    </div>
    </div>
  </header>


  <!-- PRICE LIST -->

  <div class="container priceList" id="pricing">
    <div class="row priceList-inner">
      
      <div class="col-md-6">

        <!-- NAILS -->

        <table class="table table-title">
          <tr>
            <td>Nails</td>
          </tr>
        </table>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Manicure</td>
              <td>£23 <span class="service-time">(20-30 mins)</span></td>
            </tr>
            <tr>
              <td>Shaped &amp; Revarnished (clear or colour)</td>
              <td>£16 <span class="service-time">(15 mins)</span></td>
            </tr>
            <tr>
              <td>Manicure &amp; Shellac</td>
              <td>£40 <span class="service-time">(30-40 mins)</span></td>
            </tr>
            <tr>
              <td>Shaped &amp; Shellac</td>
              <td>£30 <span class="service-time">(20 mins)</span></td>
            </tr>
            <tr>
              <td>Gel Colour Removal &amp; Redo</td>
              <td>additional £5</td>
            </tr>
            <tr>
              <td>Gel Removal, Shaped &amp; Treatment</td>
              <td>£17</td>
            </tr>
            <tr>
              <td>Add Polish</td>
              <td>Additional £8</td>
            </tr>
          </tbody>
        </table>
        
      </div>


      <div class="col-md-6">

        <!-- NAIL DESIGN & OTHER -->

        <table class="table table-title">
          <tr>
            <td>Nail Design &amp; Other Services</td>
          </tr>
        </table>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td>French or American polish</td>
              <td>From £10</td>
            </tr>
            <tr>
              <td>Nail Art</td>
              <td>from £10</td>
            </tr>
            <tr>
              <td>Gem Stone Design</td>
              <td>From £10</td>
            </tr>
            <tr>
              <td>Nail Shaped &amp; Revarnish (Clear or colour)</td>
              <td>£16</td>
            </tr>
            <tr>
              <td>Feet Shaped &amp; Revarnish</td>
              <td>£20</td>
            </tr>
            <tr>
              <td>Soak Off Acrylic Nails (No Colour)</td>
              <td>£25 <span class="service-time">(15 mins)</span></td>
            </tr>
            <tr>
              <td>Soak Off (Gel or Acrylic) &amp; Manicure (no colour)</td>
              <td>£30 <span class="service-time">(30 mins)</span></td>
            </tr>
            <tr>
              <td>Single Nail</td>
              <td>from £10</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>


  <div class="container spacer"></div> <!-- SPACER -->


  <div class="container priceList">
    <div class="row priceList-inner">

      
      <div class="col-md-6">

        <!-- SPA PEDICURE -->

        <table class="table table-title">
          <tr>
            <td>Spa Pedicure</td>
          </tr>
        </table>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Spa Pedicure</td>
              <td>£35 <span class="service-time">(40 mins)</span></td>
            </tr>
            <tr>
              <td>Spa Pedicure with Shellac</td>
              <td>£48 <span class="service-time">(45 mins)</span></td>
            </tr>
            <tr>
              <td>Manicure &amp; Pedicure (clear or colour)</td>
              <td>£50 <span class="service-time">(50-60 mins)</span></td>
            </tr>
            <tr>
              <td>Manicure &amp; Pedicure with Shellac on both</td>
              <td>£80 <span class="service-time">(60 mins)</span></td>
            </tr>
            <tr>
              <td>Manicure Shellac &amp; Spa Pedicure</td>
              <td>£66 <span class="service-time">(60 mins)</span></td>
            </tr>
            <tr>
              <td>Manicure &amp; Spa Pedicure Shellac</td>
              <td>£66 <span class="service-time">(60 mins)</span></td>
            </tr>
            <tr>
              <td>Extra Foot Massage</td>
              <td>£1 /min</span></td>
            </tr>
          </tbody>
        </table>
        
      </div>


      <div class="col-md-6">

        <!-- THREADING -->

        <table class="table table-title">
          <tr>
            <td>Threading</td>
          </tr>
        </table>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Eyebrows</td>
              <td>£16 <span class="service-time">(10-15 mins)</span></td>
            </tr>
            <tr>
              <td>Forehead</td>
              <td>£15 <span class="service-time">(10mins)</span></td>
            </tr>
            <tr>
              <td>Upper Lip or Chin</td>
              <td>£10 <span class="service-time">(10-15 mins)</span></td>
            </tr>
            <tr>
              <td>Side of Face</td>
              <td>£15 <span class="service-time">(10 mins)</span></td>
            </tr>
            <tr>
              <td>Full Face</td>
              <td>£38 <span class="service-time">(30 mins)</span></td>
            </tr>
            <tr>
              <td>Eyebrow Waxing</td>
              <td>£13 <span class="service-time">(10 mins)</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>


  <div class="container spacer"></div> <!-- SPACER -->


  <div class="container priceList">
    <div class="row priceList-inner">
      
      <div class="col-md-6">

        <!-- SNS NAILS (DRIPPING POWDER) -->

        <table class="table table-title">
          <tr>
            <td>SNS Nails (Dripping Powder)</td>
          </tr>
        </table>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Fullset SNS</td>
              <td>£40</td>
            </tr>
            <tr>
              <td>Take Off Fullset SNS</td>
              <td>£50</td>
            </tr>
            <tr>
              <td>Add Extension Tips</td>
              <td>Add £6</td>
            </tr>
            <tr>
              <td>Add Ombre Design</td>
              <td>From £10</td>
            </tr>
            <tr>
              <td>Add A Manicure</td>
              <td>From £10</td>
            </tr>
          </tbody>
        </table>
        
      </div>


    <div class="col-md-6">

      <!-- ACRYLIC / POWDER GEL -->

      <table class="table table-title">
        <tr>
            <td>Acrylic / Powder Gel</td>
        </tr>
        </table>

        <table class="table table-hover">
        <tbody>
            <tr>
              <td>Fullset Permanent White tips/Overlay</td>
              <td>£40 <span class="service-time">(40 mins)</span></td>
            </tr>
            <tr>
              <td>Infills</td>
              <td>£28 <span class="service-time">(30 mins)</span></td>
            </tr>
            <tr>
              <td>Fullset Ombre</td>
              <td>£52 <span class="service-time">(45 mins)</span></td>
            </tr>
            <tr>
              <td>Fullset Ombre 3 Colours</td>
              <td>£62 <span class="service-time">(45 mins)</span></td>
            </tr>
            <tr>
              <td>Infills Ombre - 1 Colour</td>
              <td>£33 <span class="service-time">(20 - 35 mins)</span></td>
            </tr>
            <tr>
              <td>Infills Ombre - 2 Colours</td>
              <td>£44 <span class="service-time">(20 - 35 mins)</span></td>
            </tr>
            <tr>
              <td>Infills Ombre - 3 Colours</td>
              <td>£57 <span class="service-time">(20 - 35 mins)</span></td>
            </tr>
            <tr>
              <td>Soak off &amp; Redo </td>
              <td>Additional £10</td>
            </tr>
            <tr>
              <td>Shellac on top Acrylic</td>
              <td>Additional £12</td>
            </tr>
            <tr>
              <td>Extra Long Nails</td>
              <td>Additional £7</td>
            </tr>
            <tr>
              <td>Acrylic Removal, Shape & Shellac</td>
              <td>£45</td>
            </tr>
        </tbody>
        </table>

      
    </div>
      
    </div>
  </div>

  <div class="container spacer"></div> <!-- SPACER -->

  <div class="container priceList">
    <div class="row priceList-inner">
      
      <div class="col-md-6">
      
      <!-- PINK & WHITE/GLITTER TIPS -->

      <table class="table table-title">
      <tr>
          <td>Pink &amp; White/Glitter Tips</td>
      </tr>
      </table>

      <table class="table table-hover">
      <tbody>
          <tr>
            <td>Fullset/Overlay</td>
            <td>£50 <span class="service-time">(50-60 mins)</span></td>
          </tr>
          <tr>
            <td>Pink &amp; White lnfills</td>
            <td>£40 <span class="service-time">(50-60 mins)</span></td>
          </tr>
          <tr>
            <td>Pink Infills</td>
            <td>£30 <span class="service-time">(30mins)</span></td>
          </tr>
          <tr>
            <td>Soak off &amp; Redo</td>
            <td>Additional £10</td>
          </tr>
      </tbody>
      </table>

      </div>

      <div class="col-md-6">

        <!-- 3D RUSSIAN EXTENSION -->

        <table class="table table-title">
          <tr>
            <td>3D Russian Lashes</td>
          </tr>
        </table>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Fullset Lashes</td>
              <td>£90 <span class="service-time">(60mins)</span></td>
            </tr>
            <tr>
              <td>Refills</td>
              <td>From £59 <span class="service-time">(30mins)</span></td>
            </tr>
            <tr>
              <td>&frac12; Set</td>
              <td>£59 <span class="service-time">(30mins)</span></td>
            </tr>
            <tr>
              <td>&frac34; Set</td>
              <td>£75 <span class="service-time">(40mins)</span></td>
            </tr>
          </tbody>
        </table>

      </div>
      
    </div>
  </div>

  <div class="container spacer"></div> <!-- SPACER -->

  <div class="container priceList">
    <div class="row priceList-inner">
      
      <div class="col-md-6">
      
      <!-- PINK & WHITE/GLITTER TIPS -->

      <table class="table table-title">
      <tr>
          <td>Biab / Builder Gel</td>
      </tr>
      </table>

      <table class="table table-hover">
      <tbody>
          <tr>
            <td>Biab Fullset</td>
            <td>(Price starts from) £50</td>
          </tr>
          <tr>
            <td>Biab Infills</td>
            <td>£45</td>
          </tr>
          <tr>
            <td>Removal Biab & Newset</td>
            <td>(From) £60</td>
          </tr>
          <tr>
            <td>Removal Acrylic & Biab</td>
            <td>(From) £60</td>
          </tr>
          <tr>
            <td>Removal Biab, Shape & Shellac</td>
            <td>£40</td>
          </tr>
          <tr>
            <td>Removal Biab, Shape & clear</td>
            <td>£25</td>
          </tr>
      </tbody>
      </table>

      </div>

      <div class="col-md-6">

        <!--  -->

      </div>
      
    </div>
  </div>


  <section id="contact">
    <div class="container">
      
      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Make a Booking</h2>
          <hr class="my-4">
          <p class="mb-5">If you'd like to make an appointment, send us a message, telephone or feel free to come in and talk to us in person.</p>
          </div>
       </div>
    
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
    
          <form id="contact-form">
    
            <div class="md-form">
              <input type="text" id="name-field" name="name" class="form-control">
              <label for="name">Your name</label>
            </div>
    
            <div class="md-form">
              <input type="tel" id="phone-field" name="phone" class="form-control">
              <label for="phone">Your telephone number</label>
            </div>
    
            <div class="md-form">
              <input type="email" id="email-field" name="email" class="form-control">
              <label for="email">Your email</label>
            </div>
    
            <div class="md-form">
              <textarea id="message-field" class="md-textarea" name="message" style="height: 100px"></textarea>
              <label for="message">Your message</label>
            </div>
    
            <div class="text-center">
              <p id="form-message"></p>
              <button class="btn btn-unique" type="submit" >Send &rarr;</button>
            </div>
          </form>
    
        </div>
    
      </div>
    
    </div>
  </section>
    

  <footer id="footer">
    <div class="container">
      <div class="row">
  
        <div class="col-12 text-center contactList">
  
          <p class="footerClock"><span><i class="fa fa-clock-o fa-lg sr-contact" aria-hidden="true"></i></span><strong>Opening Hours:</strong> Monday - Saturday: 10.00am - 7.00pm</p>
  
          <p class="footerPhone"><span><i class="fa fa-phone fa-lg sr-contact" aria-hidden="true"></i></span><strong>Phone:</strong> <a href="tel:02072477999">020 7247 7999</a></p>
  
          <p class="footerEmail"><span><i class="fa fa-envelope-o fa-lg sr-contact" aria-hidden="true"></i></span><strong>Email:</strong> <a href="mailto:infocn-nails.co.uk">info@cn-nails.co.uk</a></p>
  
          <p class="footerAddress"><i class="fa fa-map-marker fa-lg sr-contact" aria-hidden="true"></i><strong>Address:</strong> CN Nails & Beauty Ltd, 12 Cobb Street, E1 7LB, London</p>
  
          <!-- <a href="http://instagram.com/cnnailsandbeauty" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a> -->
          <a href="http://instagram.com/cnnailsandbeauty" target="_blank">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </footer>


  <section id="map">
    <div class="container">
       <div class="col-12">
          <div id="map">
 
          </div>
       </div>
    </div>
  </section>

  <div class="container copyright">
    <div class="row">
      <div class="col-12">
        <p class="text-center p-sm-1">CN Nails &amp; Beauty Ltd. is a company registered in England & Wales under number 13588064</p>
      </div>
       <div class="col-12">
          <p class="text-center"><span class="copyright__span">Website created by: <a href="mailto:nm.duong@outlook.com">Nam Nguyen</a></span></p>
       </div>
    </div>
  </div>
  
  <script src="/scripts/vendor/jquery/jquery.min.js"></script>
  <script src="/scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/scripts/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/scripts/mdb.js"></script>
  <script src="/scripts/index.js" type="module"></script>
  <script>
    function initMap() {
      const location = new google.maps.LatLng(51.5166398, -0.0777387)
      const mapCanvas = document.getElementById('map')
      const mapOptions = { center: location, zoom: 18, panControl: false, scrollwheel: false }
      const map = new google.maps.Map(mapCanvas, mapOptions)
      const marker = new google.maps.Marker({ position: location, map: map,icon: '../images/marker.png' })
      
      const contentString = `
        <div class="info-window">
        <h3 class="map-title text-center">CN Nails & Beauty</h3>
            <div class="info-content">
              <p class="text-center">12 Cobb Street E1, London</p>
              <p class="text-center">Tel: 0203 759 9613 </p>
            </div>
        </div>
      `
      const infowindow = new google.maps.InfoWindow({ content: contentString, maxWidth: 400 });
      marker.addListener('click', () => infowindow.open(map, marker))
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYbxFAdAmAOwtjSOm9weZssIe0ctciCN0&callback=initMap" async defer></script>
</body>


</head>